<?xml version="1.0"?>
<model>
  <name>SkyVortex</name>
  <version>1.0</version>
  <sdf version="1.5">skyvortex.sdf</sdf>

  <author>
   <name>Zeng junhao</name>
   <email>zengjunhao@hnu.edu.cn</email>
  </author>

  <description>
    This is a six-rotor Fully-actuated drive drone designed and developed by Hunan University's Laboratory of Field Robotics and Autonomous Systems.
  </description>
</model>
